* {
  margin: 0;
  color: #03203c;
}
:root {
  --blue-color: #207398;
  --sky-blue-color: #51e1ed;
  --dark-blue-color: #03203c;
  --green-color: #4dd637;
}
body {
  background-color: var(--blue-color);
}

.list-item-inline {
  display: inline;
  margin: 0 1rem;
}

/* hero */

.hero {
  background-color: var(--sky-blue-color);
  border-radius: 10% 40% 180%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* .hero  */
.hero-heading {
  margin-top: 1rem;
  text-align: center;
}
.hero-special {
  color: blue;
}
.hero-img {
  height: 15vh;
  display: block;
}
.container {
  width: 60%;
  height: 40vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.output-display {
  background-color: var(--dark-blue-color);
  color: whitesmoke;
  padding: 1.4rem;
  border-radius: 1rem;
  text-align: center;
  font-weight: 700;
  font-size: large;
}
.output-display p {
  color: wheat;
}
/* footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: var(--sky-blue-color);

  text-align: center;
  padding: 0.3rem 0rem;
  margin-bottom: 0.1rem;
}
.footer-header {
  margin-bottom: 1rem;
  font-size: larger;
}
