:root {
  --danger-color: #b9345a;
  --info-color: #120e43;
  --yellow-color: #e8bd0d;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--danger-color);
}


.hero {
  padding: 2rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-image {
  width: 10%;
}
span {
  color: var(--info-color);
}
section {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  margin: 4rem;
}
.container textarea {
  width: 60%;
  margin: 0 auto;
}
.container button {
  background-color: #E6425E;
  padding: 0.6rem 1.2rem;
border: none;
  border-radius: 2rem;
  width: 30%;
  margin: 0 auto;
  margin-top: 1.4rem;
  cursor: pointer;
}
.output-display {
  width: 60%;
  margin: 0 auto;
}

#output-div {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 3rem;
}

.output-display p {
  font-size: 1.3rem;
  color: #120e43;
}

/* footer */
.list-item-inline {
  display: inline;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  font-weight: bolder;
  text-align: center;
  background-color: #E6425E;
  text-align: center;
  padding: 0.3rem 0rem;
}
.footer-header {
  margin-bottom: 1rem;
  font-size: larger;
}
