:root {
  --danger-color: #b9345a;
  --info-color: #120e43;
  --yellow-color: #e8bd0d;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--danger-color);
}

.hero {
  padding: 2rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-image {
  width: 10%;
  border-radius: 50%;
}
span {
  color: var(--info-color);
}
section {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  margin: 4rem;
}
.container textarea {
  width: 60%;
  margin: 0 auto;
}
.container button {
  background-color: var(--yellow-color);
  padding: 0.6rem 1.2rem;

  border-radius: 2rem;
  width: 30%;
  margin: 0 auto;
  margin-top: 1.4rem;
  cursor: pointer;
}
.output-display {
  width: 60%;
  margin: 0 auto;
}

#output-div {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 3rem;
}
